
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar nav a.active-link {
  background-color: #0059b3;
  padding: 10px;
  border-radius: 5px;
}

.sidebar nav a.inactive-link:hover {
  color: #99ccff;
}

.sidebar input[type="text"]::placeholder {
  color: #99ccff;
}

.sidebar nav a span {
  font-size: 16px;
  font-weight: bold;
}

.sidebar nav a span:last-child {
  margin-left: auto;
  background-color: #0059b3;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
}




.content {
  flex-grow: 1;
  padding: 16px;
}

.content.login-page {
  margin: auto; /* Center the login page content */
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  background-color: #0073e6; /* Lighter blue on hover */
}

button:active {
  transform: scale(0.98); /* Slightly shrink on click */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
